*.class

# Package Files #
*.jar
*.war
*.ear

# Various
build/
bin/
dist/
manifest.mf

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/copyright/
.idea/inspectionProfiles/
*.iml
*.ipr
*.iws

# Others
*.log*
ajcore*.txt
hs_err_pid*


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar